//variables de color

$green_dark_primary: #689F38;
$green_primary: #8BC34A;
$green_light_primary: #DCEDC8;
$green_icon_color: #212121;

$orange_dark_primary: #F57C00;
$orange_primary: #FF9800;
$orange_light_primary: #FFE0B2;
$orange_icon_color: #212121;

$blue_dark_primary: #0288D1;
$blue_primary: #03A9F4;
$blue_light_primary: #B3E5FC;
$blue_icon_color: #FFFFFF;

$red_dark_primary: #C2185B;
$red_primary: #E91E63;
$red_light_primary: #F8BBD0;
$red_icon_color: #FFFFFF;

$primary_text: #212121;
$secunday_text1: #727272;
$divider_color: #B6B6B6;

$box_text_color: #FFFFFF;
$box_icon_color: #FFFFFF;

$color-collection: (
    'white': (
        base: #fff,
        light: #fff,
        dark: darken(#fff, 5),
        text:  #000
    ),
    'green': (
        base:  $green_primary,
        light: $green_light_primary,
        dark:  $green_dark_primary,
        text:  $box_text_color
    ),
    'orange': (
        base:  $orange_primary,
        light: $orange_light_primary,
        dark:  $orange_dark_primary,
        text:  $box_text_color
    ),
    'blue': (
        base:  $blue_primary,
        light: $blue_light_primary,
        dark:  $blue_dark_primary,
        text:  $box_text_color
    ),
    'red': (
        base:  $red_primary,
        light: $red_light_primary,
        dark:  $red_dark_primary,
        text:  $box_text_color
    )
);