@import 'color';
@import 'functions';

$colors-box: ('white', 'green', 'orange', 'blue', 'red');

.box-menu {
	font-size: 1.2em;
	color: $box_text_color;
	text-align: center;
	font-weight: 500;
	display: inline-block;
	padding: 10px;
	padding-bottom: 25px;
	cursor: pointer;
	& i {
		color: $box_icon_color;
	}

	& .box-menu-icon {
		padding-top: 10px;
	}
}
.box-container-title h1 {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.box-container-info {
	padding-bottom: 50px;
}
.box-subtitle {
	margin-top: 10px;
	margin-bottom: 15px;
}
.box-card-info {
	padding: 15px;
	//border: 1px solid #000;
	margin-bottom: 10px;
	border-radius: 5px;
	//box-shadow: 2px 2px 5px 0 #000;
	background-color: #fff;
}

.box-button-social a {
	float: right;
	padding: 2px;
	&:hover {

	}
}

@each $color in $colors-box {
	.box-container-#{$color} {
		background-color: colorSelect($color, light);
		& .box-container-title {
			background-color: colorSelect($color, dark);
			color: colorSelect($color, text);
		}

		& .box-card-info {
			//border: 1px solid colorSelect($color);
		}

		& .navbar-footer-bottom {
			background-color: colorSelect($color);
			& .text-muted {
				color: colorSelect($color, text);
			} 
		}
	}
	.box-menu-#{$color} {
		background-color: colorSelect($color);
		& a {
			color: colorSelect($color, text);
			&:hover {
				background-color: colorSelect($color, dark) !important;
			}
			&:active {
				background-color: colorSelect($color, dark) !important;
			}
			&:visited {
				background-color: colorSelect($color, dark) !important;
			}
		}
		&.active {
			background-color: colorSelect($color, dark) !important;
		}
		
	}

	.container .#{$color} {
		background-color: colorSelect($color);
	}
}

.navbar-menu-top {
	font-size: 1.05em;
}

.navbar-menu-bottom, .navbar-menu-top {
	& ul {
		margin: 0;
		& li { 
			float: left;
			width: 20%;
			text-align: center;
		}
	}
	margin-bottom: 0;
	border: 0;
}

$screen-sm-min:  "768px";

html {
	@media screen and (max-width: $screen-sm-min) {
	    margin-bottom: 50px;
  	}
}
.navbar-nav {
	@media (min-width: $screen-sm-min) {
		float: none;
	}
}

.navbar-footer-bottom {
	height: 60px;
	background-color: #f5f5f5;
}
.navbar-footer-bottom > .container p {
	line-height: 60px;
}

//background-size: cover
//background-attachment: fixed;
//background-image: url()