

<div class="container-fluid">
<div id="accordion">
<div>
Mes:
<select ng-model="filterMonth">
<option value="ENERO">ENERO</option>
<option value="FEBRERO">FEBRERO</option>
<option value="MARZO">MARZO</option>
<option value="ABRIL">ABRIL</option>
<option value="MAYO">MAYO</option>
<option value="JUNIO">JUNIO</option>
<option value="JULIO">JULIO</option>
<option value="AGOSTO">AGOSTO</option>
<option value="SETIEMBRE">SETIEMBRE</option>
<option value="OCTUBRE">OCTUBRE</option>
<option value="NOVIEMBRE">NOVIEMBRE</option>
<option value="DICIEMBRE">DICIEMBRE</option>
</select>
</div>
<h4 class="accordion-toggle">
	<div class="box-subtitle">
		ACTIVIDADES GRATUITAS <i class="fa fa-fw fa-arrow-down"></i>
		<span  class="label label-primary"> {{filtered.length}} Registros</span>
	</div>
</h4>
<div class="accordion-content default">
	<div ng-repeat="data in filtered = (resultDataActividades | filter: filterMonth) " class="col-xs-12 box-card-info">
	<div class="row">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[3]}}
	<i class="fa fa-fw fa-clock-o" ng-if="data[4] != ''" ></i> {{data[4]}}
	</div>
	</div>
	<div class="row">
	<div ng-if="data[6] != ''" class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-map-marker"></i> {{data[6]}}
	<link-view-map></link-view-map>
	</div>
	<div ng-if="data[5] != ''"  class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-location-arrow"></i> {{data[5]}}
	</div>
	</div>
	<div class="row">
		<div ng-controller="StarCtrl"> 
		    <div class="col-xs-8">
		        <div ng-repeat="rating in ratings">
		            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="sendRate(rating)"></div>
		        </div>
		    </div>
		</div>
		<div class="col-xs-4 box-button-social">
			<a href="#"><i class="fa fa-fw fa-facebook"></i></a> 
			<a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
		</div>
	</div>		
	</div>
  </div>
  <div>
Mes:
<select ng-model="filterMonth2">
<option value="ENERO">ENERO</option>
<option value="FEBRERO">FEBRERO</option>
<option value="MARZO">MARZO</option>
<option value="ABRIL">ABRIL</option>
<option value="MAYO">MAYO</option>
<option value="JUNIO">JUNIO</option>
<option value="JULIO">JULIO</option>
<option value="AGOSTO">AGOSTO</option>
<option value="SETIEMBRE">SETIEMBRE</option>
<option value="OCTUBRE">OCTUBRE</option>
<option value="NOVIEMBRE">NOVIEMBRE</option>
<option value="DICIEMBRE">DICIEMBRE</option>
</select>
</div>
  <h4 class="accordion-toggle">
	<div class="box-subtitle">
		ACTIVIDADES ATENCION A LA PERSONA CON DISCAPACIDAD <i class="fa fa-fw fa-arrow-down"></i><span  class="label label-primary"> {{filtered2.length}} Registros</span>
	</div>
  </h4>
  <div class="accordion-content">
	<div ng-repeat="data in filtered2 = (resultDataDiscapacitados | filter: filterMonth2)" class="col-xs-12 box-card-info">
		<div class="row">
		<div class="col-xs-12 col-md-6">{{data[1]}}</div>
		<div class="col-xs-12 col-md-6">
		<i class="fa fa-fw fa-calendar"></i> {{data[2]}}
		<i class="fa fa-fw fa-clock-o" ng-if="data[3] != ''" ></i> {{data[3]}}
		</div>
		</div>
		<div class="row">
		<div ng-if="data[5] != ''" class="col-xs-12 col-md-6">
		<i class="fa fa-fw fa-map-marker"></i> {{data[5]}}
		</div>
		<div ng-if="data[4] != ''"  class="col-xs-12 col-md-6">
		<i class="fa fa-fw fa-location-arrow"></i> {{data[4]}}
		</div>
		</div>

		<div class="row">
		<div ng-controller="StarCtrl"> 
		    <div class="col-xs-8">
		        <div ng-repeat="rating in ratings">
		            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="sendRate(rating)"></div>
		        </div>
		    </div>
		</div>
		<div class="col-xs-4 box-button-social">
			<a href="#"><i class="fa fa-fw fa-facebook"></i></a> 
			<a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
		</div>
		</div>
	</div>
  </div>
</div>

<!-- JS -->
<script type="text/javascript">
  $(document).ready(function($) {
    $('#accordion').find('.accordion-toggle').click(function(){

      //Expand or collapse this panel
      $(this).next().slideToggle('fast');

      //Hide the other panels
      $(".accordion-content").not($(this).next()).slideUp('fast');

    });
  });
</script>





