<div class="box-subtitle">
	ACTIVIDADES GRATUITAS
</div>
<div ng-repeat="data in resultDataActividades" class="col-xs-12 box-card-info">
	<div class="row">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[3]}}
	<i class="fa fa-fw fa-clock-o" ng-if="data[4] != ''" ></i> {{data[4]}}
	</div>
	</div>
	<div class="row">
	<div ng-if="data[6] != ''" class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-map-marker"></i> {{data[6]}}
	</div>
	<div ng-if="data[5] != ''"  class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-location-arrow"></i> {{data[5]}}
	</div>
	</div>
	<div class="row">
		<div class="col-xs-12 box-button-social">
			<a href="#"><i class="fa fa-fw fa-facebook"></i></a> 
			<a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
		</div>
	</div>
</div>
<div class="box-subtitle">
	ACTIVIDADES ATENCION A LA PERSONA CON DISCAPACIDAD
</div>
<div ng-repeat="data in resultDataDiscapacitados" class="col-xs-12 box-card-info">
	<div class="row">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[2]}}
	<i class="fa fa-fw fa-clock-o" ng-if="data[3] != ''" ></i> {{data[3]}}
	</div>
	</div>
	<div class="row">
	<div ng-if="data[5] != ''" class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-map-marker"></i> {{data[5]}}
	</div>
	<div ng-if="data[4] != ''"  class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-location-arrow"></i> {{data[4]}}
	</div>
	</div>
</div>