<div class="navbar-header col-xs-12 box-subtitle">
	CAMPAÑAS DE SALUD
</div>
<div ng-repeat="data in resultDataSalud" class="col-xs-12 box-card-info">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">{{data[2]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[3]}}
	<i class="fa fa-fw fa-clock-o"></i> {{data[4]}}
	</div>
	<div class="fa fa-fw fa-search">{{data[5]}}</div>
	<div class="fa fa-fw fa-search">{{data[6]}}</div>	
</div>
<div class="navbar-header col-xs-12 box-subtitle">
	CAMPAÑAS DE MASCOTA
</div>
<div ng-repeat="data in resultDataVeterinaria" class="col-xs-12 box-card-info">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">{{data[2]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[3]}}
	<i class="fa fa-fw fa-clock-o"></i> {{data[4]}}
	</div>
	<div class="fa fa-fw fa-search">{{data[5]}}</div>
	<div class="fa fa-fw fa-search">{{data[6]}}</div>
</div>