<header class="navbar-header">
	<h1 class="text-center">Bienestar y Salud</h1>
</header>	
<div class="container">
	<a ui-sref="info.actividades" class="box-menu">
	<div class="box-menu-green">
		<div class="box-menu-title"> Actividades </div>
		<div class="box-menu-icon">
			<i class="fa fa-4x fa-child"></i>			
		</div>
	</div>
	</a>
	<a ui-sref="info.campanas" class="box-menu">
	<div class="box-menu-orange">
		<div class="box-menu-title"> Camapa&ntilde;as </div>
		<div class="box-menu-icon">
		<i class="fa fa-4x fa-heartbeat"></i>			
		</div>
	</div>
	</a>
	<a ui-sref="info.talleres" class="box-menu">
	<div class="box-menu-blue">
		<div class="box-menu-title"> Talleres </div>
		<div class="box-menu-icon">
		<i class="fa fa-4x fa-book"></i>			
		</div>
	</div>
	</a>
	<a ui-sref="info.restaurantes" class="box-menu">
	<div class="box-menu-red">
		<div class="box-menu-title"> Restaurantes </div>
		<div class="box-menu-icon">
		<i class="fa fa-4x fa-cutlery"></i>			
		</div>
	</div>
	</a>
</div>