<div class="box-container-info">
	<header class="box-container-title navbar-fixed-top">
		<h1 class="text-center">{{TituloHeader}}</h1>
	</header>
	<nav class="navbar navbar-menu-top navbar-fixed-top hidden-xs" role="navigation2">
		<ul class="nav navbar-nav">
			<li class="box-menu-white" ui-sref-active="active"><a ui-sref="home"><i class="fa fa-fw fa-home"></i> Inicio</a></li>
			<li class="box-menu-green" ui-sref-active="active"><a ui-sref="info.actividades"><i class="fa fa-fw fa-child"></i>Actividades </a></li>
			<li class="box-menu-orange" ui-sref-active="active"><a ui-sref="info.campanas"><i class="fa fa-fw fa-heartbeat"></i> Campa&ntilde;as</a></li>
			<li class="box-menu-blue" ui-sref-active="active"><a ui-sref="info.talleres"><i class="fa fa-fw fa-book"></i> Talleres</a></li>
			<li class="box-menu-red" ui-sref-active="active"><a ui-sref="info.restaurantes"><i class="fa fa-fw fa-cutlery"></i> Restaurantes</a></li>
		</ul>
	</nav>
	<div ui-view class="container">
	</div>
	<nav class="navbar navbar-menu-bottom navbar-fixed-bottom visible-xs" role="navigation">
		<ul class="nav navbar-nav">
			<li class="box-menu-white" ui-sref-active="active"><a ui-sref="home" title="Inicio"><i class="fa fa-2x fa-home"></i></a></li>
			<li class="box-menu-green" ui-sref-active="active"><a ui-sref="info.actividades"><i class="fa fa-2x fa-child"></i></a><div class="arrow-down">			
			</div></li>
			<li class="box-menu-orange" ui-sref-active="active"><a ui-sref="info.campanas"><i class="fa fa-2x fa-heartbeat"></i></a><div class="arrow-down">			
			</div></li>
			<li class="box-menu-blue" ui-sref-active="active"><a ui-sref="info.talleres"><i class="fa fa-2x fa-book"></i></a><div class="arrow-down">			
			</div></li>
			<li class="box-menu-red" ui-sref-active="active"><a ui-sref="info.restaurantes"><i class="fa fa-2x fa-cutlery"></i></a><div class="arrow-down">			
			</div></li>
		</ul>
	</nav>
</div>
