<div class="box-container-info">
	<header>
		<h1 class="text-center">{{TituloHeader}}</h1>
	</header>
	<div ui-view>
	</div>
	<nav class="navbar navbar-menu-bottom navbar-fixed-bottom" role="navigation">
		<ul class="nav navbar-nav">
			<li class="box-menu-white"><a ui-sref="home" title="Inicio"><i class="fa fa-2x fa-home"></i>	</a></li>
			<li class="box-menu-green"><a ui-sref="info.actividades"><i class="fa fa-2x fa-child"></i>	</a></li>
			<li class="box-menu-orange"><a ui-sref="info.campanas"><i class="fa fa-2x fa-heartbeat"></i></a></li>
			<li class="box-menu-blue"><a ui-sref="info.talleres"><i class="fa fa-2x fa-book"></i></a></li>
			<li class="box-menu-red"><a ui-sref="info.restaurantes"><i class="fa fa-2x fa-cutlery"></i></a></li>
		</ul>
	</nav>
</div>
