
<div class="navbar-header col-xs-12 box-subtitle">
	RESTAURANTES SALUDABLES
</div>
<div ng-repeat="data in resultDataRestaurante" class="col-xs-12 box-card-info">
	<div class="row">
	<div class="col-xs-12 col-md-6">{{data[1]}}</div>
	<div class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-calendar"></i> {{data[3]}}
	<i class="fa fa-fw fa-clock-o"></i> {{data[4]}}
	</div>	
	</div>
	
	<div class="row">
	<div ng-if="data[6] != ''" class="col-xs-12 col-md-6">
	<i class="fa fa-fw fa-map-marker"></i> {{data[6]}}	
	<a ng-click="open()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>View Map</a>
	</div>
	<div ng-if="data[5] != ''"  class="col-xs-12 col-md-6">{{data[5]}}</div>
	</div>
</div>