<div id="accordion">
  <h4 class="accordion-toggle"><div class="navbar-header col-xs-12 box-subtitle">
	RESTAURANTES SALUDABLES <i class="fa fa-fw fa-arrow-down"></i>
</div></h4>
  <div class="accordion-content default">
<div ng-repeat="data in resultDataRestaurante" class="col-xs-12 box-card-info">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<i class="fa fa-fw fa-building"></i>{{data[1]}}
			<i class="fa fa-fw fa-navicon"></i> {{data[4]}}
		</div>
		<div class="col-xs-12 col-md-6">
			<i class="fa fa-fw fa-male"></i> {{data[2]}}
			<i class="fa fa-fw fa-check"></i> {{data[3]}}
		</div>
	</div>
	
	<div class="row">
		<div ng-if="data[7] != ''" class="col-xs-12 col-md-6">
			<i class="fa fa-fw fa-map-marker"></i> {{data[7]}}	
			<link-view-mapr></link-view-mapr>
		</div>
		<div ng-if="data[6] != ''" class="col-xs-12 col-md-6">
			<i class="fa fa-fw fa-phone"></i> {{data[6]}}
		</div>
	</div>
	<div class="row">
		<div ng-controller="StarCtrl"> 
		    <div class=col-md-12>
		        <div ng-repeat="rating in ratings">
		            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="sendRate(rating)"></div>
		        </div>
		    </div>
		</div>
	</div>
</div>  </div>
</div>


<!-- JS -->
<script type="text/javascript">
  $(document).ready(function($) {
    $('#accordion').find('.accordion-toggle').click(function(){

      //Expand or collapse this panel
      $(this).next().slideToggle('fast');

      //Hide the other panels
      $(".accordion-content").not($(this).next()).slideUp('fast');

    });
  });
</script>

