<div ng-repeat="data in resultDataTalleres" class="col-xs-12 box-card-info">
	<div class="col-xs-12 col-md-6">{{data[0]}}</div>
	<div class="col-xs-12 col-md-6">
		<i class="fa fa-fw fa-calendar"></i> LUNES
		<i class="fa fa-fw fa-clock-o"></i> {{data[2]}}
		
		<i class="fa fa-fw fa-calendar"></i> MARTES
		<i class="fa fa-fw fa-clock-o"></i> {{data[3]}}<br>
	</div>
	<div class="col-xs-12 col-md-6">{{data[1]}} <br/>PRECIO  {{data[7]}}</div>
	<div class="col-xs-12 col-md-6"></div>
	<div class="col-xs-12 col-md-6">
		<i class="fa fa-fw fa-calendar"></i> MIERCOLES
		<i class="fa fa-fw fa-clock-o"></i> {{data[4]}}
		<i class="fa fa-fw fa-calendar"></i> JUEVES
		<i class="fa fa-fw fa-clock-o"></i> {{data[5]}}<br/>
		<i class="fa fa-fw fa-calendar"></i> VIERNES
		<i class="fa fa-fw fa-clock-o"></i> {{data[6]}}
	</div>	
</div>