.box-menu {
  font-size: 1.2em;
  width: 24%;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}
.box-menu i {
  color: #FFFFFF;
}
.box-menu:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.box-menu .box-menu-icon {
  padding-top: 10px;
}

.box-container-title h1 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.box-container-info {
  padding-bottom: 50px;
}

.box-menu-header {
  margin-bottom: 25px;
}

.box-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
}

.box-card-info {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.box-button-social a {
  float: right;
  padding: 2px;
}

.box-container-white {
  background-color: #fff;
}
.box-container-white .box-container-title {
  background-color: #f2f2f2;
  color: #000;
}
.box-container-white .navbar-footer-bottom {
  background-color: #fff;
}
.box-container-white .navbar-footer-bottom .text-muted {
  color: #000;
}

.box-menu-white {
  background-color: #fff;
}
.box-menu-white a {
  color: #000;
}
.box-menu-white a:hover {
  background-color: #f2f2f2 !important;
}
.box-menu-white a:active {
  background-color: #f2f2f2 !important;
}
.box-menu-white a:visited {
  background-color: #f2f2f2 !important;
}
.box-menu-white.active {
  background-color: #f2f2f2 !important;
}
.box-menu-white.active > .arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0px;
  border-color: transparent transparent #f2f2f2 transparent;
  margin: -8px 0 0 0;
  left: 45%;
  top: 0;
}

.box-menu > .box-menu-white {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  box-shadow: inset 0 0 10px 0 #f2f2f2;
}
.box-menu > .box-menu-white:hover {
  background-color: #f2f2f2;
}

.container .white {
  background-color: #fff;
}

.box-container-green {
  background-color: #DCEDC8;
}
.box-container-green .box-container-title {
  background-color: #689F38;
  color: #FFFFFF;
}
.box-container-green .navbar-footer-bottom {
  background-color: #8BC34A;
}
.box-container-green .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-green {
  background-color: #8BC34A;
}
.box-menu-green a {
  color: #FFFFFF;
}
.box-menu-green a:hover {
  background-color: #689F38 !important;
}
.box-menu-green a:active {
  background-color: #689F38 !important;
}
.box-menu-green a:visited {
  background-color: #689F38 !important;
}
.box-menu-green.active {
  background-color: #689F38 !important;
}
.box-menu-green.active > .arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0px;
  border-color: transparent transparent #689F38 transparent;
  margin: -8px 0 0 0;
  left: 45%;
  top: 0;
}

.box-menu > .box-menu-green {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #689F38;
  box-shadow: inset 0 0 10px 0 #689F38;
}
.box-menu > .box-menu-green:hover {
  background-color: #689F38;
}

.container .green {
  background-color: #8BC34A;
}

.box-container-orange {
  background-color: #FFE0B2;
}
.box-container-orange .box-container-title {
  background-color: #F57C00;
  color: #FFFFFF;
}
.box-container-orange .navbar-footer-bottom {
  background-color: #FF9800;
}
.box-container-orange .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-orange {
  background-color: #FF9800;
}
.box-menu-orange a {
  color: #FFFFFF;
}
.box-menu-orange a:hover {
  background-color: #F57C00 !important;
}
.box-menu-orange a:active {
  background-color: #F57C00 !important;
}
.box-menu-orange a:visited {
  background-color: #F57C00 !important;
}
.box-menu-orange.active {
  background-color: #F57C00 !important;
}
.box-menu-orange.active > .arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0px;
  border-color: transparent transparent #F57C00 transparent;
  margin: -8px 0 0 0;
  left: 45%;
  top: 0;
}

.box-menu > .box-menu-orange {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #F57C00;
  box-shadow: inset 0 0 10px 0 #F57C00;
}
.box-menu > .box-menu-orange:hover {
  background-color: #F57C00;
}

.container .orange {
  background-color: #FF9800;
}

.box-container-blue {
  background-color: #B3E5FC;
}
.box-container-blue .box-container-title {
  background-color: #0288D1;
  color: #FFFFFF;
}
.box-container-blue .navbar-footer-bottom {
  background-color: #03A9F4;
}
.box-container-blue .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-blue {
  background-color: #03A9F4;
}
.box-menu-blue a {
  color: #FFFFFF;
}
.box-menu-blue a:hover {
  background-color: #0288D1 !important;
}
.box-menu-blue a:active {
  background-color: #0288D1 !important;
}
.box-menu-blue a:visited {
  background-color: #0288D1 !important;
}
.box-menu-blue.active {
  background-color: #0288D1 !important;
}
.box-menu-blue.active > .arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0px;
  border-color: transparent transparent #0288D1 transparent;
  margin: -8px 0 0 0;
  left: 45%;
  top: 0;
}

.box-menu > .box-menu-blue {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #0288D1;
  box-shadow: inset 0 0 10px 0 #0288D1;
}
.box-menu > .box-menu-blue:hover {
  background-color: #0288D1;
}

.container .blue {
  background-color: #03A9F4;
}

.box-container-red {
  background-color: #F8BBD0;
}
.box-container-red .box-container-title {
  background-color: #C2185B;
  color: #FFFFFF;
}
.box-container-red .navbar-footer-bottom {
  background-color: #E91E63;
}
.box-container-red .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-red {
  background-color: #E91E63;
}
.box-menu-red a {
  color: #FFFFFF;
}
.box-menu-red a:hover {
  background-color: #C2185B !important;
}
.box-menu-red a:active {
  background-color: #C2185B !important;
}
.box-menu-red a:visited {
  background-color: #C2185B !important;
}
.box-menu-red.active {
  background-color: #C2185B !important;
}
.box-menu-red.active > .arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0px;
  border-color: transparent transparent #C2185B transparent;
  margin: -8px 0 0 0;
  left: 45%;
  top: 0;
}

.box-menu > .box-menu-red {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #C2185B;
  box-shadow: inset 0 0 10px 0 #C2185B;
}
.box-menu > .box-menu-red:hover {
  background-color: #C2185B;
}

.container .red {
  background-color: #E91E63;
}

.navbar-menu-top {
  font-size: 1.05em;
}

.navbar-menu-bottom, .navbar-menu-top {
  margin-bottom: 0;
  border: 0;
}
.navbar-menu-bottom ul, .navbar-menu-top ul {
  margin: 0;
}
.navbar-menu-bottom ul li, .navbar-menu-top ul li {
  float: left;
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  html {
    margin-bottom: 50px;
  }

  .box-menu {
    width: 49%;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}
.navbar-footer-bottom {
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-footer-bottom > .container p {
  line-height: 60px;
}

/*# sourceMappingURL=site.css.map */
