.box-menu {
  font-size: 1.2em;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
  padding-bottom: 25px;
  cursor: pointer;
}
.box-menu i {
  color: #FFFFFF;
}
.box-menu .box-menu-icon {
  padding-top: 10px;
}

.box-container-title h1 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.box-container-info {
  padding-bottom: 50px;
}

.box-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
}

.box-card-info {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.box-button-social a {
  float: right;
  padding: 2px;
}

.box-container-white {
  background-color: #fff;
}
.box-container-white .box-container-title {
  background-color: #f2f2f2;
  color: #000;
}
.box-container-white .box-card-info {
  border: 1px solid #fff;
}
.box-container-white .navbar-footer-bottom {
  background-color: #fff;
}
.box-container-white .navbar-footer-bottom .text-muted {
  color: #000;
}

.box-menu-white {
  background-color: #fff;
}
.box-menu-white a {
  color: #000;
}
.box-menu-white a:hover {
  background-color: #f2f2f2 !important;
}
.box-menu-white a:active {
  background-color: #f2f2f2 !important;
}
.box-menu-white a:visited {
  background-color: #f2f2f2 !important;
}
.box-menu-white.active {
  background-color: #f2f2f2 !important;
}

.container .white {
  background-color: #fff;
}

.box-container-green {
  background-color: #C8E6C9;
}
.box-container-green .box-container-title {
  background-color: #388E3C;
  color: #FFFFFF;
}
.box-container-green .box-card-info {
  border: 1px solid #4CAF50;
}
.box-container-green .navbar-footer-bottom {
  background-color: #4CAF50;
}
.box-container-green .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-green {
  background-color: #4CAF50;
}
.box-menu-green a {
  color: #FFFFFF;
}
.box-menu-green a:hover {
  background-color: #388E3C !important;
}
.box-menu-green a:active {
  background-color: #388E3C !important;
}
.box-menu-green a:visited {
  background-color: #388E3C !important;
}
.box-menu-green.active {
  background-color: #388E3C !important;
}

.container .green {
  background-color: #4CAF50;
}

.box-container-orange {
  background-color: #FFCCBC;
}
.box-container-orange .box-container-title {
  background-color: #E64A19;
  color: #FFFFFF;
}
.box-container-orange .box-card-info {
  border: 1px solid #FF5722;
}
.box-container-orange .navbar-footer-bottom {
  background-color: #FF5722;
}
.box-container-orange .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-orange {
  background-color: #FF5722;
}
.box-menu-orange a {
  color: #FFFFFF;
}
.box-menu-orange a:hover {
  background-color: #E64A19 !important;
}
.box-menu-orange a:active {
  background-color: #E64A19 !important;
}
.box-menu-orange a:visited {
  background-color: #E64A19 !important;
}
.box-menu-orange.active {
  background-color: #E64A19 !important;
}

.container .orange {
  background-color: #FF5722;
}

.box-container-blue {
  background-color: #BBDEFB;
}
.box-container-blue .box-container-title {
  background-color: #1976D2;
  color: #FFFFFF;
}
.box-container-blue .box-card-info {
  border: 1px solid #2196F3;
}
.box-container-blue .navbar-footer-bottom {
  background-color: #2196F3;
}
.box-container-blue .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-blue {
  background-color: #2196F3;
}
.box-menu-blue a {
  color: #FFFFFF;
}
.box-menu-blue a:hover {
  background-color: #1976D2 !important;
}
.box-menu-blue a:active {
  background-color: #1976D2 !important;
}
.box-menu-blue a:visited {
  background-color: #1976D2 !important;
}
.box-menu-blue.active {
  background-color: #1976D2 !important;
}

.container .blue {
  background-color: #2196F3;
}

.box-container-red {
  background-color: #FFCDD2;
}
.box-container-red .box-container-title {
  background-color: #D32F2F;
  color: #FFFFFF;
}
.box-container-red .box-card-info {
  border: 1px solid #F44336;
}
.box-container-red .navbar-footer-bottom {
  background-color: #F44336;
}
.box-container-red .navbar-footer-bottom .text-muted {
  color: #FFFFFF;
}

.box-menu-red {
  background-color: #F44336;
}
.box-menu-red a {
  color: #FFFFFF;
}
.box-menu-red a:hover {
  background-color: #D32F2F !important;
}
.box-menu-red a:active {
  background-color: #D32F2F !important;
}
.box-menu-red a:visited {
  background-color: #D32F2F !important;
}
.box-menu-red.active {
  background-color: #D32F2F !important;
}

.container .red {
  background-color: #F44336;
}

.navbar-menu-top {
  font-size: 1.05em;
}

.navbar-menu-bottom, .navbar-menu-top {
  margin-bottom: 0;
  border: 0;
}
.navbar-menu-bottom ul, .navbar-menu-top ul {
  margin: 0;
}
.navbar-menu-bottom ul li, .navbar-menu-top ul li {
  float: left;
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  html {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}

.navbar-footer-bottom {
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-footer-bottom > .container p {
  line-height: 60px;
}

/*# sourceMappingURL=site.css.map */
